# Save csv files to mysql database

In [1]:
# pip install mysql-connector-python

In [2]:
import pandas as pd
import seaborn as sns
import env

# connect to mysql
import mysql.connector as mysql
from mysql.connector import Error

## Cridetials

In [3]:
db_name, endpoint, username, passcode = env.aws_vmb_db()

## Get data

In [4]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
# # Electric Vehicle Population data
# df = pd.read_csv("https://data.wa.gov/api/views/f6w7-q2d2/rows.csv?accessType=DOWNLOAD")
# df.head()

## Connect to the MySQL and create a database

In [36]:
db_name = "iris_db"
df_name = "iris"

In [51]:
# Create a connection to MySQL server using provided credentials
connection = mysql.connect(host=endpoint, user=username, password=passcode)
create_table_query = f"""CREATE TABLE IF NOT EXISTS {df_name} (sepal_length FLOAT(2,1)
                        NOT NULL, sepal_width FLOAT(2,1) NOT NULL,
                        petal_length FLOAT(2,1) NOT NULL,
                        petal_width FLOAT(2,1),species CHAR(11)NOT
                        NULL)"""
cursor = None

try:
    
    # Check if the connection is established
    if connection.is_connected():
        cursor = connection.cursor()  # Creating a cursor object to perform actions
        # Execute SQL query to create a new database using the provided name
        cursor.execute(f"CREATE DATABASE {db_name};")
        # Confirming the successful creation of the database
        print(f"{db_name} database is created")
        
except Error as e:
    # Handling any errors that might occur during the connection or database creation
    print("Could not connect to MySQL:", e)

try:
    if connection.is_connected():
        cursor.execute(f"USE {db_name};")
        print(f"Using {db_name}...!")
        
        cursor.execute(create_table_query)
        print(f"{df_name} table is created....")
except Error as e:
    print("Could not create Use datqbase")

Could not connect to MySQL: 1007 (HY000): Can't create database 'iris_db'; database exists
Using iris_db...!
iris table is created....

## Delete a database

In [45]:
def drop_db(db_name:str):
    """
    Objective: To completly delete a database from MySQL server
    
    Parameter
    db_name: database to be deleted
    
    """
    try:
        # Create a connection to MySQL server using provided credentials
        connection = mysql.connect(host=endpoint, user=username, password=passcode)

        # Check if the connection is established
        if connection.is_connected():
            action = connection.cursor()  # Creating a cursor object to perform actions
            # Execute SQL query to remove a database using the provided name
            action.execute(f"DROP DATABASE {db_name};")
            # Confirming the successful creation of the database
            print(f"{db_name} database has been droped")

    except Error as e:
        # Handling any errors that might occur during the connection or database creation
        print("Could not connect to MySQL:", e)

drop_db(db_name)

iris_db database has been droped

## Delete table in database

In [50]:
def drop_table(df_name:str, db_name:str = db_name):
    """
    Objective: To completly delete a database from MySQL server
    
    Parameter
    df_name: dataframe/table to be deleted from database
    db_name: database to be deleted
    
    """

    try:
        # Create a connection to MySQL server using provided credentials
        connection = mysql.connect(host=endpoint, user=username, password=passcode)

        # Check if the connection is established
        if connection.is_connected():
            action = connection.cursor()  # Creating a cursor object to perform actions
            action.execute(f"USE {db_name};")
            # Execute SQL query to remove a database using the provided name
            action.execute(f"DROP TABLE {df_name};")
            # Confirming the successful creation of the database
            print(f"{df_name} table has been droped")

    except Error as e:
        # Handling any errors that might occur during the connection or database creation
        print("Could not connect to MySQL:", e)

drop_table(df_name)

iris table has been droped